<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SWF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E13AEBD1EABCAA900699006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E13AED61EABCAAB00699006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E13AEE11EABCAAB00699006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
